[submodule "imagewriter"]
	path = imagewriter
	url = https://gh.ll.mit.edu/DLI-LTEA/imagewriter
[submodule "npdata"]
	path = npdata
	url = https://gh.ll.mit.edu/DLI-LTEA/npdata
[submodule "gradle-common"]
	path = gradle-common
	url = https://gh.ll.mit.edu/Domino/gradle-common.git

