[submodule "imagewriter"]
	path = imagewriter
	url = https://gh.ll.mit.edu/DLI-LTEA/imagewriter
	branch = master
[submodule "npdata"]
	path = npdata
	url = https://gh.ll.mit.edu/DLI-LTEA/npdata
	branch = devDomino
[submodule "gradle-common"]
	path = gradle-common
	url = https://gh.ll.mit.edu/Domino/gradle-common.git
	branch = master

