/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.body {
    font-family: Arial,sans-serif;
    color: #333333;

    background: #d3d3d3; /* for non-css3 browsers */
    /* These gradients are nice, but displaying the page shows weird-looking intermediate states. */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b4b4b4'); */ /* for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b4b4b4));*/ /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #ffffff,  #b4b4b4);*/ /* for firefox 3.6+ */
}

.headerBackground {
    background-color: #404141;
    color: #ffffff;
}

.whiteBackground {
    color:#ffffff;
}


.headerLowerBorder {
    border-style:solid;
    border-width: 2px;
    border-top-color: #404141;
    border-bottom-color: #269cce;
    border-left-color: #404141;
    border-right-color: #404141;
}

.cardBorder {
     border-style:solid;
     border-width: 2px;
    border-top-width: 0;
    border-bottom-width: 0;
     border-bottom-color: #404141;

    padding-right: 0px;
 }


.qcBorder {
    border-style:solid;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

    border-top-color: #404141;
    border-bottom-color: #269cce;
    border-left-color: #404141;
    border-right-color: #404141;
}

.cardBackground {
     background-color: #e8eaea;
 }

.cardHiddenText {
    color: #e8eaea;
}

.cardText {
    padding: 55px;
    margin: 20px 0 30px;
}

.spaceBarBlue {
    background-color: #3195b9;
}
.spaceBarBlueJess {
    background-color: #269cce;
}

.checkboxGreen {
    background-color: #008a4d;
}

.checkboxPadding {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.helpPadding {
     padding-top: 10px;
 }

.rowPadding {
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;

    margin-bottom: 2px;
}

.borderSpacing {
    border-collapse:separate;
    border-spacing: 0px;
}

.correctRatio {
    padding-left: 5px;

    padding-top: 12px;
}

.cardForeground {
    color: #262726;
}

.subtitleForeground {
    color : #b2b5b4;
}

.questionMarkForeground {
    color : #f0f9fb;
}

.blueBackground {
    background-color : #f0f9fb;
 }

.primaryButtonColor {
    background-color: #b2b5b4;
}

.clearButtonColor {
     background-color: #b2b5b4;
 }

.successButtonColor {
    background-color: #b2b5b4;

}

.infoButtonColor {
    background-color: #b2b5b4;
}

.warningButtonColor {
    background-color: #b2b5b4;
}

.tableExerciseListHeader {
    background-color: #EAEAEA;
}

.noPadding {
    padding-top: 5px;
}

.floatLeft {
    float: left;
    clear:none;
}

.floatLeftList {
   float: left;
 }
.floatRight {
    float: right;
}

.border {
    border : 1px solid;
}

.overflowStyle {
    overflow: auto;
}

.wrapword {
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.blockStyle {
    display: block;
}

.bold {
    font-weight: bold;
}

.bigLink {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #668CD9;
}

.alignCenter {
    text-align: center;
}

.grayText {
    color: #d3d3d3;
}

.normalText {
    color: #333333;
}

.sendButtonBlue {
    background-color: #6192bb;
    color: #FFFFFF;
}

.formRow {
    border-bottom: 1px solid #FFFFFF;
}

.center {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.inlineBlockStyle {
    display: inline-block;
    white-space:nowrap;
}
.trueInlineStyle {
     display: inline;
 }

.realInlineStyle {
    display: inline;
}

.buttonMargin {
    margin-right: 3px;
}

.shareTitle {
    margin-right: 5px;
    padding-top: 6px;
}

.marginRight {
    margin-right: 50px;
}

.marginBottomTen {
    margin-bottom: 10px;
}

.typewriter {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.url-input {
    margin-top: 10px;
}

.url-box {
    border: 1px solid #DDDDDD;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fafafa;
    margin-left: 5px;
    margin-bottom: 5px;
}

.lessPadding {
    padding-left: 3px;
    padding-right: 3px;
}

.addPadding{
    border-width: 0;
}

.tableCenter {
    margin-left:auto;
    margin-right:auto;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

fieldset {
    margin: 5px 15px 0px 15px;
    border-style: none;
}

.leftFifteenPercentMargin {
    margin-left: 15%;
}

.dialogExpandedTopMargin {
    margin-top: -70px;
}

.topMargin {
    margin-top: 10px;
}
.topBarMargin {
     margin-top: 18px;
 }
.topFiveMargin {
     margin-top: 5px;
 }

.leftFiveMargin {
    margin-left: 5px;
}

.leftTenMargin {
    margin-left: 10px;
}

.leftThirtyMargin {
    margin-left: 30px;
}

.leftFiftyMargin {
     margin-left: 55px;
 }

.noMargin {
    margin: 0px;
}

fieldset > legend {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#registerButton {
    margin: 15px 6px 6px;
}

.exercise {
  font-size: 12pt;
}

.exercise-highlighted {
  background-color: #668CD9;
  border: none;
}

.exerciseBackground {
    background-color: #ebebec;
    color: #262726;
/*
    width:95%;
*/

/*    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 0px;
    min-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#nextButton {  margin-left: 5px; }
.paddedHorizontalPanel .gwt-Button {
  padding-left: 20px;
}

.paddedHorizontalPanel {
  padding-left: 20px;
}

.alignTop {
    vertical-align:top;
}

.ImageOverlay{
    border: none;
    background-color: red;
}

.qcRightBorder {
    border-right: 3px solid blue;
    padding-right: 5px;
    margin-right: 5px;

}

.Button{
    font-family: Arial Unicode MS, Arial, sans-serif;
}

.clickable {
  cursor                      :   pointer;
}

.gwt-Button {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #AAAAAA;
    color: #333333;
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.squareButton {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #AAAAAA;
    color: #333333;
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.Tooltip{
    background-color: lightyellow;
    padding: 3px;
    border: 1px solid black;
}

.TooltipPopup{
    border: none;
}

.RecordPopup{
    background-color: white;
}

.backgroundWhite {
     background-color: white;
 }

.Instruction {
    text-align: left;
    margin-bottom: 5px;
}

.Instruction-title {
    color: #333333;
    font-size: 16px;
}

.Instruction-data  {
    color: #CC6600;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: nowrap;
}

.blueColor {
    color: #6192bb;
}

.darkerBlueColor {
    color: #669dc6;
}

.lightBlue {
    background-color : #afdef8;
 }

.grayColor {
    background-color: #d4d1cc;
}

.correct {
   color:green
}

.incorrect {
    color:red
}

.incorrectCard {
    background-color: #ffa07a;
}

.correctCard {
    background-color: #90ee90;
}

.urdufont {
    color: #CC6600;
    font-family: 'Nafees Naskh',Nafees,sans-serif;
    font-size: 24px;
}

.pashtofont {
    font-family: 'Pashto Kror Asiatype','HSPashto','HSTahoma',Arial,Helvetica,sans-serif;
    font-size: x-large;
    margin-bottom: 5px;
}

.pashtofont td {
    font-family: 'Pashto Kror Asiatype','HSPashto','HSTahoma',Arial,Helvetica,sans-serif;
    font-size: x-large;
}

.xlargeFont {
    font-size: x-large;
}

.xlargeFont td {
    font-size: x-large;
}

/**
* From here down is part of a partial attempt to have more graceful recovery from encountering a flash blocker.
* This attempt wasn't completed though.
*/
/**
 * SoundManager 2 + useFlashBlock
 * ------------------------------
 * Flash positioning and flashblock / clicktoflash handling
 */

#sm2-container {
    /**
     * where the SM2 flash movie goes. by default, relative container.
     * set relative or absolute here, and don't touch it later or bad things will happen (see below comments.)
     */
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* screw IE 6, just make it display nice */
    _overflow: hidden;
}

#sm2-container object,
#sm2-container embed {
    /**
     * the actual SWF movie bit.
     * important: The SWF needs to be able to be moved off-screen without display: or position: changes.
     * changing display: or position: or overflow: here or on parent can cause SWF reload or other weird issues after unblock
     * e.g., SM2 starts but strange errors, no whileplaying() etc.
     */
    width: 48px;
    height: 48px;
    /* some flash blockers may also respect this rule */
    max-width: 48px;
    max-height: 48px;
}

#sm2-container.swf_timedout {
    /* expand to show the timed-out SWF content */
    position: relative;
    width: 48px;
    height: 48px;
}

#sm2-container.swf_timedout,
#sm2-container.swf_timedout object,
#sm2-container.swf_timedout embed {
    /**
     * when SM2 didn't start normally, time-out case. flash blocked, missing SWF, no flash?
     * 48px square flash placeholder is typically used by blockers.
     */
    min-width: 48px;
    min-height: 48px;
}

#sm2-container.swf_unblocked {
    /* SWF unblocked, or was never blocked to begin with; try to collapse container as much as possible. */
    width: 1px;
    height: 1px;
}

#sm2-container.swf_loaded object,
#sm2-container.swf_loaded embed,
#sm2-container.swf_unblocked object,
#sm2-container.swf_unblocked embed {
    /* hide flash off-screen (relative to container) when it has loaded OK */
    left: -9999em;
    top: -9999em;
}

#sm2-container.swf_error {
    /* when there is a fatal error (flash loaded, but SM2 failed) */
    display: none;
}

#sm2-container.high_performance,
#sm2-container.high_performance.swf_timeout {
    /* "high performance" case: keep on-screen at all times */
    position: absolute;
}

#sm2-container.high_performance {
    overflow: hidden;
    _top: -9999px; /* IE 6 hax, no position:fixed */
    _left: -9999px;
    bottom: 0px;
    left: 0px;
    /**
     * special case: show at first with w/h, hide when unblocked.
     * might be bad/annoying.
     * try to stay within ClickToFlash "invisible" limits (so it won't be blocked.)
     */
    z-index: 99; /* try to stay on top */
}

#sm2-container.high_performance.swf_loaded,
#sm2-container.high_performance.swf_unblocked {
    z-index: auto;
}

#sm2-container.high_performance.swf_loaded,
#sm2-container.high_performance.swf_unblocked,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked embed {
    /**
     * 8x8px is required minimum to load in fx/win32 in some cases(?)
     * 6x6+ good for fast performance, even better when on-screen via position:fixed
     * also, clickToFlash (Safari <5.1) may auto-load "invisible" SWFs at this size
     */
    height: 8px;
    width: 8px;
}

#sm2-container.high_performance.swf_loaded {
    /* stay bottom/left */
    top: 0px;
    left: 0px;
/*
    top: auto;
*/
/*    bottom: 0px;
    left: 0px;*/
}

#sm2-container.high_performance.swf_loaded object,
#sm2-container.high_performance.swf_loaded embed,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked embed {
    /* high-performance case must stay on-screen */
    left: auto;
    top: auto;
}

#sm2-container.high_performance.swf_timedout {
    z-index: 99; /* try to stay on top */
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}

.demo-FormPanel {
    background-color: #d6d3ce;
    /*
        border: 3px solid #999999;
    */
    padding: 5px;
    /*
        width: 150px;
    */
}

.gwt-DisclosurePanel {
}

.gwt-DisclosurePanel-open {
}

.gwt-DisclosurePanel-closed {
}

.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
    text-decoration: none;  /* Remove underline from header */
    color: black;
    cursor: pointer;
}

.gwt-DisclosurePanel .content {
    border-left: 3px solid #e7e7e7;
    padding: 4px 0px 4px 8px;
    margin-left: 6px;
}

.rightAlign {
    text-align:right;
}

.bigFont {
    font-size: 1.8em;
    letter-spacing: 0.4em;
    padding-top: 19px;
}

.bottomMargin {
    margin-bottom: 30%;
}

.rightFiveMargin {
    margin-right: 5px;
}
.rightTenMargin {
     margin-right: 10px;
 }

.minWidth {
    min-width: 190px;
}

.userNPFContent2 {
    margin-top: 5px;
    float: left;

    border-radius: 0px 0px 3px 0px;
    border-bottom: inset rgba(0, 0, 0, 0.1);
}

.userListContent {
    margin-top: 10px;
/*
    width: 90%;
*/
    /*
        background: none repeat scroll 0 0 #FFFFFF;
    */
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
}

.userNPFContent {
    margin-top: 2px;
    /*
        background: none repeat scroll 0 0 #FFFFFF;
    */
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    padding: 5px 110px 5px 5px;
}

.userListBackground {
    background-color:#ffffff;
}

.fullWidth {
    width: 100%;

}
.fullWidth2 {
    width: 95%;
}

.userListFont {
    color: #111111;
    font: 600 19px/1.3 "Helvetica Neue",arial,sans-serif;
    font-weight: bold;
}

.userListFont2 {
    margin-left: 10px;
    color: #111111;
    font: 600 15px/1.3 "Helvetica Neue",arial,sans-serif;
}

.numItemFont {
    color: #999999;
    font-size: 95%;
    font-weight: 200;
    margin-left: 4px;
    white-space: nowrap;
}

.userListContainer {
/*
    width: 90%;
*/
    background-color: rgba(110, 175, 255, 0.27);
    border: none;
    padding-left:0;
    padding-right:0;
}

.handCursor {
    cursor: pointer;
}

.userListDarkerBlueColor {
    background-color: #669dc6;
}
.userListOperations {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
}

.greenBackground {
    background-color: rgba(102, 157, 198, 0.58);
}

.positionAbsolute {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tabbable .nav {
    margin-bottom : 2px;
}

/*#QuestionContent .checkbox {
    padding-left: 2px;
}*/

.borderTopQC {
    margin-top: 5px;
/*
    float: left;
*/

    border-radius: 0px 0px 3px 0px;
    border-top: inset rgba(0, 0, 0, 0.1);
}