/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.body {
    font-family: Arial,sans-serif;
    color: #333333;

    background: #d3d3d3; /* for non-css3 browsers */
    /* These gradients are nice, but displaying the page shows weird-looking intermediate states. */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b4b4b4'); */ /* for IE */
    /*background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b4b4b4));*/ /* for webkit browsers */
    /*background: -moz-linear-gradient(top,  #ffffff,  #b4b4b4);*/ /* for firefox 3.6+ */
}

.headerBackground {
    background-color: #404141;
    color: #ffffff;
}

.whiteBackground {
    color:#ffffff;
}


.headerLowerBorder {
    border: 2px solid #404141;
    border-bottom-color: #269cce;
}

.cardBorder {
    border: 0 solid;
    border-right-width: 2px;
    border-bottom-color: #404141;
    border-left-width: 2px;

    padding-right: 0px;
 }


.qcBorder {
    border: 0 solid #404141;
    border-bottom: 2px #269cce;
}

.cardBackground {
     background-color: #e8eaea;
 }

.cardHiddenText {
    color: #e8eaea;
}

.cardHiddenText2 {
     color: white;
 }

.cardText {
    padding: 55px;
    margin: 20px 0 30px;
}

.spaceBarBlue {
    background-color: #3195b9;
}
.spaceBarBlueJess {
    background-color: #269cce;
}

.checkboxGreen {
    background-color: #008a4d;
}

.checkboxPadding {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.helpPadding {
     padding-top: 10px;
 }

.rowPadding {
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 5px;

    margin-bottom: 2px;
}

.borderSpacing {
    border-collapse:separate;
    border-spacing: 0px;
}

.correctRatio {
    padding-left: 5px;

    padding-top: 12px;
}

.cardForeground {
    color: #262726;
}

.subtitleForeground {
    color : #f3f6f5;
}

.subtitleNoRecordingForeground {
     color : #ffb911;
 }

.questionMarkForeground {
    color : #f0f9fb;
}

.blueBackground {
    background-color : #f0f9fb;
 }

.primaryButtonColor {
    background-color: #b2b5b4;
}

.clearButtonColor {
     background-color: #b2b5b4;
 }

.successButtonColor {
    background-color: #b2b5b4;

}

.infoButtonColor {
    background-color: #b2b5b4;
}

.warningButtonColor {
    background-color: #b2b5b4;
}

.tableExerciseListHeader {
    background-color: #EAEAEA;
}

.noPadding {
    padding-top: 5px;
}

.floatLeft {
    float: left;
    clear:none;
}

.floatLeftList {
   float: left;
 }
.floatRight {
    float: right;
}

.border {
    border : 1px solid;
}

.overflowStyle {
    overflow: auto;
}

.wrapword {
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: keep-all;
    white-space: normal;
}

.blockStyle {
    display: block;
}

.bold {
    font-weight: bold;
}

.bigLink {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #668CD9;
}

.alignCenter {
    text-align: center;
}

.grayText {
    color: #d3d3d3;
}

.normalText {
    color: #333333;
}

.sendButtonBlue {
    background-color: #6192bb;
    color: #FFFFFF;
}

.formRow {
    border-bottom: 1px solid #FFFFFF;
}

.center {
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.inlineBlockStyle {
    display: inline-block;
    white-space:nowrap;
}
.trueInlineStyle {
     display: inline;
 }

.realInlineStyle {
    display: inline;
}

.buttonMargin {
    margin-right: 3px;
}

.shareTitle {
    margin-right: 5px;
    padding-top: 6px;
}

.marginRight {
    margin-right: 50px;
}

.marginBottomTen {
    margin-bottom: 10px;
}

.typewriter {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.url-input {
    margin-top: 10px;
}

.url-box {
    border: 1px solid #DDDDDD;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fafafa;
    margin-left: 5px;
    margin-bottom: 5px;
}

.lessPadding {
    padding-left: 3px;
    padding-right: 3px;
}

.addPadding{
    border-width: 0;
}

.tableCenter {
    margin-left:auto;
    margin-right:auto;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

fieldset {
    margin: 5px 15px 0px 15px;
    border-style: none;
}

.leftFifteenPercentMargin {
    margin-left: 15%;
}

.leftFiftyPercentMargin {
     margin-left: 43%;
 }

.dialogExpandedTopMargin {
    margin-top: -70px;
}

.topMargin {
    margin-top: 10px;
}
.topBarMargin {
     margin-top: 18px;
 }

.topFiveMargin {
    margin-top: 5px;
}

.bottomFiveMargin {
     margin-bottom: 5px;
}
.topMinusFiveMargin {
    margin-top: -13px;
}

.topTwentyMargin {
    margin-top: 20px;
}
.topFiftyMargin {
     margin-top: 50px;
 }

.leftFiveMargin {
    margin-left: 5px;
}

.leftTenMargin {
    margin-left: 10px;
}

.leftThirtyMargin {
    margin-left: 30px;
}

.leftFiftyMargin {
     margin-left: 55px;
 }

.noMargin {
    margin: 0px;
}

fieldset > legend {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#registerButton {
    margin: 15px 6px 6px;
}

.exercise {
  font-size: 12pt;
}

.exercise-highlighted {
  background-color: #668CD9;
  border: none;
}

.exerciseBackground {
    background-color: #ebebec;
    color: #262726;
/*
    width:95%;
*/

/*    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 0px;
    min-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#nextButton {  margin-left: 5px; }
.paddedHorizontalPanel .gwt-Button {
  padding-left: 20px;
}

.paddedHorizontalPanel {
  padding-left: 20px;
}

.alignTop {
    vertical-align:top;
}

.ImageOverlay{
    background-color: red;
}

.qcRightBorder {
    padding-right: 5px;
    margin-right: 5px;
}

.Button{
    font-family: Arial Unicode MS, Arial, sans-serif;
}

/*.clickable {
  cursor                      :   pointer;
}*/

.gwt-Button {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #AAAAAA;
    color: #333333;
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.squareButton {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #AAAAAA;
    color: #333333;
    margin-right: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.Tooltip{
    background-color: lightyellow;
    padding: 3px;
    border: 1px solid black;
}

.TooltipPopup{
    border: none;
}

.RecordPopup{
    background-color: white;
}

.backgroundWhite {
     background-color: white;
 }

.Instruction {
    text-align: left;
    margin-bottom: 6px;
}

.Instruction-title {
    color: #333333;
    font-size: 16px;
/*
    margin-bottom: 4px;
    */
}

.Instruction-data  {
    color: #CC6600;
    font-size: larger;
    font-weight: bold;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: keep-all;
    white-space: normal;
    font-family: sans-serif;
}

.Instruction-data-with-wrap  {
    color: #CC6600;
    font-size: 28px;
    font-weight: bold;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: keep-all;
    white-space: normal;
    font-family: sans-serif;
}

.blueColor {
    color: #6192bb;
}

.darkerBlueColor {
    color: #669dc6;
}

.lightBlue {
    background-color : #afdef8;
 }

.grayColor {
    background-color: #d4d1cc;
}

.tableAltRowColor {
    background-color: #eaf5fb;
}

.tableRowUserColor {
    color: #d89374;
    font-weight: bold;
}

.tableRowUserCurrentColor {
    color:green;
    font-weight: bold;
}

.correct {
   color:green
}

.incorrect {
    color:red
}

.incorrectCard {
    background-color: #ffa07a;
}

.correctCard {
    background-color: #90ee90;
}

.urdufont {
    color: #CC6600;
    font-family: 'Nafees Naskh',Nafees,sans-serif;
    font-size: 24px;
}

.pashtofont {
    font-family: 'Pashto Kror Asiatype','HSPashto','HSTahoma',Arial,Helvetica,sans-serif;
    font-size: x-large;
    margin-bottom: 5px;
}

.pashtofont td {
    font-family: 'Pashto Kror Asiatype','HSPashto','HSTahoma',Arial,Helvetica,sans-serif;
    font-size: x-large;
}

.xlargeFont {
    font-size: xx-large;
}

.xlargeFont td {
    font-size: xx-large;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}

.demo-FormPanel {
    background-color: #d6d3ce;
    /*
        border: 3px solid #999999;
    */
    padding: 5px;
    /*
        width: 150px;
    */
}

.gwt-DisclosurePanel {
}

.gwt-DisclosurePanel-open {
}

.gwt-DisclosurePanel-closed {
}

.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
    text-decoration: none;  /* Remove underline from header */
    color: black;
    cursor: pointer;
}

.gwt-DisclosurePanel .content {
    border-left: 3px solid #e7e7e7;
    padding: 4px 0px 4px 8px;
    margin-left: 6px;
}

.rightAlign {
    text-align:right;
}

.bigFont {
    font-size: 1.8em;
    letter-spacing: 0.4em;
    padding-top: 19px;
}

.bottomMargin {
    margin-bottom: 30%;
}

.rightFiveMargin {
    margin-right: 5px;
}
.rightTenMargin {
    margin-right: 10px;
}
.rightTwentyMargin {
     margin-right: 20px;
 }

.minWidth {
    min-width: 190px;
}

.userNPFContent2 {
    margin-top: 5px;
    float: left;

    border-radius: 0px 0px 3px 0px;
    border-bottom: inset rgba(0, 0, 0, 0.1);
}

.userListContent {
    margin-top: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
}

.userNPFContent {
     margin-top: 2px;
     border-radius: 3px 3px 3px 3px;
     box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
     padding: 5px 110px 5px 5px;
 }

.userNPFContentLightPadding {
    margin-top: 2px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    padding: 5px 5px 5px 5px;
}

.shadowBorder {
    margin-top: 2px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    padding: 5px 5px 5px 5px;
}

.userListBackground {
    background-color:#ffffff;
}

.fullWidth {
    width: 100%;

}
.fullWidth2 {
    width: 95%;
}

.userListFont {
    color: #111111;
    font: 600 19px/1.3 "Helvetica Neue",arial,sans-serif;
    font-weight: bold;
}

.userListFontBlue {
    color: #3339d9;
    font: 600 19px/1.3 "Helvetica Neue",arial,sans-serif;
    font-weight: bold;
}

.niceBlue {
    color: #0088CC;
}

.userListFont2 {
    margin-left: 10px;
    color: #111111;
    font: 600 15px/1.3 "Helvetica Neue",arial,sans-serif;
}

.numItemFont {
    color: #999999;
    font-size: 120%;
    font-weight: 200;
    margin-left: 4px;
    white-space: nowrap;
}

.userListContainer {
    background-color: rgba(110, 175, 255, 0.27);
    border: none;
    padding-left:0;
    padding-right:0;
}

.handCursor {
    cursor: pointer;
}

.userListDarkerBlueColor {
    background-color: #669dc6;
}
.userListOperations {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
}

.greenBackground {
    background-color: rgba(102, 157, 198, 0.58);
}

.positionAbsolute {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tabbable .nav {
    margin-bottom : 2px;
}

#showListContainer h1 small {
    color: #333333;
}

#desc small {
    color: #333333;
}

#course small {
    color: #333333;
}

#unitLesson small {
     color: #333333;
 }

.borderTopQC {
    margin-top: 5px;
    border-radius: 0px 0px 3px 0px;
    border-top: inset rgba(0, 0, 0, 0.1);
}

.borderBottomQC {
    margin-bottom: 5px;
    width: 70px;
    border-radius: 0 0 3px 0;
    border-bottom: inset rgba(0, 0, 0, 0.1);
}

.centeredRadio {
    margin-left: 25px;
    margin-right: 25px;
}

.wideCenteredRadio {
    margin-left: 35px;
    margin-right: 35px;
}

.comment-button-group-new {
    opacity:0.70;
    filter:alpha(opacity=70);
}

.questionContentPadding {
    padding-right: 93px;
}

.editComment {
    font-size: 1.8em;
    font-weight: bold;
}

.buttonGroupInsetFirst {
    background-color: #89B0D5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 30px;
    padding: 5px;
}

.buttonGroupInset {
    background-color: #89B0D5;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    min-height: 30px;
    padding: 5px;
}

.buttonGroupInset3 {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    min-height: 30px;
    padding: 5px;
}

.buttonGroupInset5 {
     border-radius: 3px 3px 3px 3px;
     box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
     min-height: 30px;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 5px;
 }

.buttonGroupInset4 {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    padding: 5px;
    margin-bottom:5px;
}

.buttonGroupInset6 {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    padding: 5px;
    margin-top:5px;
}

.buttonGroupInset7 {
    border-radius: 3px 3px 3px 3px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin-top:2px;
 }

.mouseOverHighlight {
    cursor: pointer;
}

.playingAudioHighlight {
     background-color: yellow;
 }

.cardBorderShadow {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 0 #CAC3B8, 5px 5px 16px #D4CEC5;
    padding:10px;
    border: #CAC3B8;
    border-width: 1px 0px 0 1px;
    border-style: solid;
}

.cardContent {
    word-wrap: break-word;
    left: 0;
    text-align: center;
    vertical-align: middle;
    width:100%;
}

.middleColumn {
    position:absolute;
    top:0px;
    margin-right: 185px;
    margin-left: 185px;
}

.rightColumn {
    position:absolute;
    right: 10px;
    top:0px;
    padding-left: 10px;
}

.leftColumn {
    position:absolute;
    left: 0px;
    top:0px;
    padding-right: 10px;
}

.bottomColumn {
    position:absolute;
    bottom:0px;
    text-align:center;
    padding-right: 10px;
}

.positionRelative {
    position:relative;
}

.minWidthFifty {
    min-width: 500px;
}

.maxWidth {
     max-width: 145px;
 }

#ASRScorePanel fieldset legend {
    margin-bottom: 5px;
}

#LeaderboardTable thead th {
    border-top: 0px solid #DDDDDD;
}

.chartDim {
    min-height: 400px;
}

fieldset > legend {
    margin-bottom: 3px;
}

td > h5 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.englishQuestionRightMargin {
   margin-right : 131px;
}

#Student_LoginBoxDialog > .modal-body {
    padding-top : 5px;
}

.cogStyle {
    list-style: none outside none;
}

.englishFont {
    font-family: georgia,"times new roman",times,serif;
}

.minWidthRecordButton {
    min-width: 60px;
}

body>.dropdown-popup {
    border: 1px solid #ddd;
    background-clip: padding-box;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

body>.dropdown-popup a:link {
    color: black;
}

body>.dropdown-popup a:HOVER,
body>.dropdown-popup .nav-list>li.active>a  {
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #0088CC, #0077B3);
    background-repeat: repeat-x;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
    text-shadow: none;
}

#addItemsAtTop_unitLesson small {
    color:black;
}

#getUnitLessonForExercise_unitLesson  small {
    color:black;
}

.centeringPractice {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.dontSelect {
    -moz-user-select: none;
}

.progressBar {
    width: 78%;
    float: left;
    margin-left: 0px;
    margin-top: -8px;
}

.centerPractice {
    width: 800px;
    margin: 0 auto;
}

.loginPage {
    margin: -154px -228px 0 -418px;
    top: 33%;
    width: 838px;
    left: 50%;
    position: absolute;
}

.resetPage {
    margin: -154px -228px 0 -418px;
    top: 33%;
    width: 838px;
    left: 32%;
    position: absolute;
}

.loginPageBack {
    position: fixed;
    width: 200%;
    height: 200%;
    left: -50%;
    background: rgba(173, 216, 230, 0.61);
}

.formRounded {
    /*margin-top: 2px;*/
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.12);
    padding: 5px 5px 5px 5px;
}

.signUp {
    border-bottom: 1px solid #E1E8ED;
    margin-left: 11px;
    margin-top: 0;
    padding-top: 0;
}

body .btn-success.active {
    background-color: #B75AB6;
    background-image: linear-gradient(to bottom, #C362C3, #A351A3);
    color: white;
    background-position: center;
    text-shadow: none;
}

body .btn-primary.active {
    background-color: #CC8800;
    background-image: linear-gradient(to bottom, #CC4400, #CC8800);
}

body .btn-toolbar > .btn-group > .btn:hover, .btn-toolbar > .btn-group > .btn:focus, .btn-toolbar > .btn-group > .btn:active, .btn-toolbar > .btn-group > .btn.active {
    z-index: 0;
}

body .btn-toolbar > .btn-group > .btn.active {
    background-color: #737373;
    background-image: linear-gradient(to bottom, #737373, #a0a0a0);
    color: white;
    background-position: center;
    text-shadow: none;
}
