.cellTableKeyboardSelectedRow {
    background: #628cd5;
}

.cellTableKeyboardSelectedRowCell {
    border: 2px solid #628cd5;
}

.cellTableCell {
    padding: 2px 5px;
    overflow: hidden;
    cursor:pointer;
    font-size: larger;
    font-family: sans-serif;
}
