.cellTableKeyboardSelectedRow {
    background: #628cd5;
}

.cellTableKeyboardSelectedRowCell {
    border: 2px solid #628cd5;
}

.cellTableCell {
    padding: 2px 15px;
    overflow: hidden;
    cursor:pointer;
    direction: rtl;
    font-family: sans-serif;
}
