<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LangTest.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>databaseServlet</servlet-name>
    <servlet-class>mitll.langtest.server.LangTestDatabaseImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>databaseServlet</servlet-name>
    <url-pattern>/langtest/langtestdatabase</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>mitll.langtest.server.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/langtest/upload</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.h2.server.web.DbStarter</listener-class>
  </listener>

  <context-param>
    <param-name>tomcatWriteDirectoryFullPath</param-name>
    <param-value>//services/apache-tomcat-7.0.27/webapps/langTest/answers</param-value>
  </context-param>

  <!-- note for the jdbc url, we seem to need an absolute file path on the webserver -->
  <context-param>
    <param-name>db.url</param-name>
    <!--
       <param-value>jdbc:h2:vlr-parle;IFEXISTS=TRUE</param-value>
          -->

    <param-value>jdbc:h2:file://services/apache-tomcat-7.0.27/webapps/langTest/vlr-parle;IFEXISTS=TRUE</param-value>

  </context-param>

  <context-param>
    <param-name>db.user</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>db.password</param-name>
    <param-value></param-value>
  </context-param>
</web-app>
