<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LangTest.html</welcome-file>
  </welcome-file-list>

<!--    <filter>
        <filter-name>gwtCacheControlFilter</filter-name>
        <filter-class>mitll.langtest.server.filter.GWTFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>gwtCacheControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

 <servlet>
    <servlet-name>databaseServlet</servlet-name>
    <servlet-class>mitll.langtest.server.LangTestDatabaseImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>databaseServlet</servlet-name>
    <url-pattern>/langtest/langtestdatabase</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>tomcatWriteDirectoryFullPath</param-name>
    <param-value>answers</param-value>
  </context-param>

  <context-param>
     <param-name>config</param-name>
     <param-value>farsi</param-value>
  </context-param>

  <context-param>
     <param-name>configFile</param-name>
     <param-value>farsiHeadstart.properties</param-value>
  </context-param>
</web-app>

