<?xml version="1.0" encoding="UTF-8"?>
    <web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>LangTest.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>domino.cfg.home</param-name>
        <param-value>/opt/netprof/config/</param-value>
    </context-param>

    <!-- ==================================================================== -->
    <!-- Start RPC mappings                                                   -->
    <!-- ==================================================================== -->

    <servlet>
        <servlet-name>databaseServlet</servlet-name>
        <servlet-class>mitll.langtest.server.LangTestDatabaseImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>databaseServlet</servlet-name>
        <url-pattern>/langtest/langtestdatabase</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userService</servlet-name>
        <servlet-class>mitll.langtest.server.services.UserServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>userService</servlet-name>
        <url-pattern>/langtest/user-manager</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>openUserService</servlet-name>
        <servlet-class>mitll.langtest.server.services.OpenUserServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>openUserService</servlet-name>
        <url-pattern>/langtest/open-user-manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>analysisService</servlet-name>
        <servlet-class>mitll.langtest.server.services.AnalysisServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>analysisService</servlet-name>
        <url-pattern>/langtest/analysis-manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listService</servlet-name>
        <servlet-class>mitll.langtest.server.services.ListServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>listService</servlet-name>
        <url-pattern>/langtest/list-manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>resultService</servlet-name>
        <servlet-class>mitll.langtest.server.services.ResultServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>resultService</servlet-name>
        <url-pattern>/langtest/result-manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exerciseService</servlet-name>
        <servlet-class>mitll.langtest.server.services.ExerciseServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>exerciseService</servlet-name>
        <url-pattern>/langtest/exercise-manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>audioService</servlet-name>
        <servlet-class>mitll.langtest.server.services.AudioServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>audioService</servlet-name>
        <url-pattern>/langtest/audio-manager</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>audioService</servlet-name>
        <url-pattern>/langtest/audio-manager/h2</url-pattern>
    </servlet-mapping>

<!--    <servlet-mapping>
        <servlet-name>amasService</servlet-name>
        <url-pattern>/langtest/amas-manager</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <servlet-name>qcService</servlet-name>
        <servlet-class>mitll.langtest.server.services.QCServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>qcService</servlet-name>
        <url-pattern>/langtest/qc-manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>scoringService</servlet-name>
        <servlet-class>mitll.langtest.server.services.ScoringServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>scoringService</servlet-name>
        <url-pattern>/langtest/scoring-manager</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>scoringService</servlet-name>
        <url-pattern>/langtest/scoring-manager/h2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dliClassService</servlet-name>
        <servlet-class>mitll.langtest.server.services.DLIClassServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dliClassService</servlet-name>
        <url-pattern>/langtest/dliclass-manager</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>projectService</servlet-name>
        <servlet-class>mitll.langtest.server.services.ProjectServiceImpl</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>projectService</servlet-name>
        <url-pattern>/langtest/project-manager</url-pattern>
    </servlet-mapping>

<!--
    <servlet>
        <servlet-name>MyDefaultServlet</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>resourceBase</param-name>
            <param-value>/opt/netprof/bestAudio</param-value>
        </init-param>
        <init-param>
            <param-name>dirAllowed</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>pathInfoOnly</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>DefaultServletAnswers</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>resourceBase</param-name>
            <param-value>/opt/netprof/answers</param-value>
        </init-param>
        <init-param>
            <param-name>dirAllowed</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>pathInfoOnly</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyDefaultServlet</servlet-name>
        <url-pattern>/bestAudio/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DefaultServletAnswers</servlet-name>
        <url-pattern>/answers/*</url-pattern>
    </servlet-mapping>-->


    <!-- ==================================================================== -->
    <!-- End RPC mappings                                                     -->
    <!-- ==================================================================== -->

    <servlet>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>mitll.langtest.server.DownloadServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>scoreServlet</servlet-name>
        <servlet-class>mitll.langtest.server.ScoreServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadUsers/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadResults/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadEvents/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadAudio/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadAudio/h2/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>scoreServlet</servlet-name>
        <url-pattern>/scoreServlet/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>scoreServlet</servlet-name>
        <url-pattern>/scoreServlet/h2/*</url-pattern>
    </servlet-mapping>

    <!-- ==================================================================== -->
    <!-- START filters	                                                    -->
    <!-- ==================================================================== -->

    <filter>
        <filter-name>forceNocacheFilter</filter-name>
        <filter-class>mitll.langtest.server.filter.ForceNocacheFilter</filter-class>
    </filter>

    <filter>
        <filter-name>attSecurityFilter</filter-name>
        <filter-class>mitll.langtest.server.database.security.AttachSecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>forceNocacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>attSecurityFilter</filter-name>
        <url-pattern>/bestAudio/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>attSecurityFilter</filter-name>
        <url-pattern>/answers/*</url-pattern>
    </filter-mapping>

    <!-- ==================================================================== -->
    <!-- END filters  														-->
    <!-- ==================================================================== -->

    <!-- initialize core data services - Mongo connection pool, etc -->
    <listener>
        <listener-class>mitll.hlt.domino.server.configuration.DominoServerInitializationManager</listener-class>
    </listener>
</web-app>
